:root {
  --lavender: #e9e6ff;
  --spring-green: #5efc8d;
  --celadon: #a1e5ab;
  --charcoal: #2e5266;
  --dark-purple: #1c0b19;
  --forest-green: #142610;
  --rustic-yellow: #a6943d;
  --dark-slate: #171830;
  --font-firacode: "Fira Code", monospace;
  --font-oswald: "Oswald", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --font-pacifico: "Pacifico", cursive;
  --small-text: 12px;
  --medium-text: 16px;
  --large-text: 20px;
  --x-large-text: 24px;
  --xx-large-text: 28px;
  --xxx-large-text: 36px;
}

* {
  padding: 0px;
  margin: 0px;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: var(--charcoal);
  font-family: var(--font-fira-code);
}

main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0px;
}

footer {
  width: 100%;
  text-align: center;
  padding-top: 24px;
}

