:root {
  --lavender: #e9e6ff;
  --spring-green: #5efc8d;
  --celadon: #a1e5ab;
  --charcoal: #2e5266;
  --dark-purple: #1c0b19;
  --forest-green: #142610;
  --rustic-yellow: #a6943d;
  --dark-slate: #171830;
  --full-screen-height: 100vh;
  --full-screen-width: 100vw;
  --full: 100%;
  --font-firacode: "Fira Code", monospace;
  --font-oswald: "Oswald", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --font-pacifico: "Pacifico", cursive;
  --small-text: 12px;
  --medium-text: 16px;
  --large-text: 20px;
  --x-large-text: 24px;
  --xx-large-text: 28px;
  --xxx-large-text: 36px;
}

* {
  padding: 0px;
  margin: 0px;
}

body {
  width: var(--full-screen-width);
  height: var(--full-screen-height);
  background-color: var(--charcoal);
  font-family: var(--font-fira-code);
}

main {
  height: var(--full);
  width: var(--full);
  display: flex;
  flex-direction: column;
  gap: 0px;
}

footer {
  width: var(--full);
  text-align: center;
  padding-top: 24px;
}

header {
  width: var(--full);
  height: fit-content;
}

.header-wrapper {
  width: var(--full);
  padding: 16px 0;
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  background: linear-gradient(to right, black, var(--dark-purple));
}

.header-title {
  padding: 0px;
  font-size: var(--large-text);
  font-weight: 900;
  color: var(--lavender);
}

.github-badge-wrapper {
  margin-top: 8px;
  width: 128px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background: var(--dark-purple);
  border: 1px solid gray;
}

.github-badge {
  width: var(--full);
  display: flex;
  gap: 2px;
  justify-content: space-evenly;
  font-size: var(--medium-text);
  font-weight: 700;
  color: var(--spring-green);
  text-decoration: none;
}

.sr-only {
  display: none;
}

nav {
  display: flex;
  padding: 4px;
  border-top: 1px solid var(--lavender);
  background: linear-gradient(
    to top,
    var(--celadon),
    var(--spring-green),
    forestgreen
  );
}

.nav-link {
  text-decoration: none;
  color: var(--dark-purple);
  font-weight: 700;
}

@media screen and (min-width: 800px) {
  .hero_wrapper {
    position: relative;
  }
  .title-container {
    width: 480px;
    position: absolute;
    top: 200px;
    left: 60px;
  }
}
